
.mt-50 {
  margin-top:50px !important;
}

.mb-30 {
  margin-bottom:30px !important;
}

.full-height {
  height: 100vh;
}

.vertical-align {
  align-items: center;
}

.w-150 {
  width: 150px !important;
}

.center-div {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

input {
  padding:5px 0;
}