@import "../assets/style/variables";

.slick-slide {
  img {
    display: inline-block !important;
    transition: all 0.5s ease-in-out;
  }
  div:focus-within,
  div:focus {
    outline: none !important;
  }

  .movie-card {
    text-align:center;

    &:hover {
      img {
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 5px 30px 10px $dark;
      }
    }
  }

  .movie-img-frame {
    height:500px;
  }

}

.toast-notification {
  width:100% !important;
  span {
    width: 100% !important;
  }
}