body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.header {
  background-color: #282c34;
  text-align: center;
  padding:15px 0;
  color: white;
  margin-bottom:50px;
}

.search-bar {
  width:100%;
}

.search-bar input[type="text"] {
  width:100%;
  cursor: pointer;
}

.movie-frame {
  text-align:center;
}

.slick-slide img {
  display: inline-block !important;
}

.slick-slide div:focus-within,
.slick-slide div:focus {
  outline: none !important;
}

.slick-slide > div {
  padding:3px;
}

.slick-slide > div:hover {
  border:1px solid red;
}